name: Defesa Civil RS Monitor

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  check-alerts:
    runs-on: ubuntu-latest
    steps:
      - name: Chamar endpoint buscar-defesa-civil
        run: |
          curl -X POST https://humble-happiness-69g5gppq775vh55vv.github.dev/buscar-defesa-civil \
            -H "Authorization: Bearer ${{ secrets.API_TOKEN }}" \
            -d "destinatario=${{ secrets.TELEGRAM_CHAT_ID }}"
